@media screen and (max-width: 600px) {
    .form {
     margin-bottom: 30vh;
     
    }

    .form-image {
        margin-bottom: 0;
    }


    .promoRow {
        min-width:100vw;
        min-height:50vh; 
        margin-left:20;
    }
  }